/* This pseudo class targets the highest-level parent of the HTML document */
/* It is similar to the 'html' or 'body' selector */
/* It's primary use case is storing variables that should be globally available */
:root {
  --bgcol: rgb(80 250 190);
  --textcol: hsl(0 0 12);
  --smallfont: max(1rem, 2vw);
  --largefont: clamp(24px, 2rem, 4vw);
  --pfpwidth: 300px;
  --textmargin: 16px;
}

/* Here we are using the universal selector */
/* This targets every style in our document */
/* It's primary use case is setting universal styles or overriding default styles,
which is exactly how we're using it here */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

/* This body selector is primarily used for actually applying styles */
/* It is similar to ':root', except root is better used for storing variables FOR styles */
/* Here, we're setting some over-arching styles */
body {
  background-color: var(--bgcol);
  color: var(--textcol);
  display: flex;
  justify-content: center;
}

/* This targets the div with the 'card-container' class */
/* It houses all of the content that is actually seen on the page */
.card-container {
  margin: 24px 0;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* This targets the container that houses Bob's profile pic */
/* This will act as a picture frame, which will let us crop Bob's pfp without warping it */
.image-container {
  width: var(--pfpwidth);
  height: var(--pfpwidth);
  overflow: hidden;
  flex-shrink: 0;
}

/* This targets Bob Managerman's profile picture */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* defines how bob's pfp will fit in the container */
}

/* This style targets h2 child elements of the "cardhead" class */
/* We're using this to style our profile card header */
h2 {
  font-size: var(--largefont);
}

/* This targets the main content article element of the profile card */
/* The article is acting as a container for the header and bio content */
.card-text {
  width: var(--pfpwidth);
  height: 100%;
  margin: var(--textmargin) 0;
  overflow: scroll;
}

/* This style targets p child elements of the "cardcont" class */
/* Here, we're applying styles to our large paragraph bio */
.card-text p {
  font-size: var(--smallfont);
}

/* Media query overrides */
/* These settings should override the page settings when viewing the page on desktop */
@media (min-width: 601px) {
  .card-container {
    flex-direction: row;
    max-height: var(--pfpwidth);
  }

  .card-text {
    width: calc(100% - calc(var(--pfpwidth) + calc(2 * var(--textmargin))));
    min-width: var(--pfpwidth);
    margin: var(--textmargin);
  }
}